.circle-button:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

a.active{
    color: #03fcb1 !important;
    background-color: none !important;
}
.center-vertical a{
   position: absolute;
}
.circle-size{
    width: 100px;
    height: 100px;
}

.circle-size i{
    font-size: 50px;
}

.circle-next-ic{
    line-height: 100px;
}

.mb-10{
    margin-bottom: 150px;
}

.text-main {
    color: #03fcb1 !important;
}

.text-menu{
    color: #494F54;
}

.text-menu:hover{
    transition: 0.3s;
    color: #03fcb1 !important;
}

.text-menu-detail{
    font-size: 14px;
}

.img-menu{
    width: 300px;
    height: 195px;
    object-fit: cover;
}

@media (max-width: 450px) {

    .circle-size {
        width: 50px;
        height: 50px;
    }

    .circle-size i {
        font-size: 20px;
    }

    .circle-next-ic {
        line-height: 50px;
    }

    .img-menu {
        width: 200px;
        height: 95px;
        object-fit: cover;
    }

    .navigation-menu {
        position: fixed;
        bottom: 0 !important;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        background-color: #f8f8f8 !important;
        z-index: 2 !important;
    }

    .nav-link {
        font-size: 10px;
        text-align: center !important;
    }

    .text-menu-detail {
        font-size: 12px;
    }
}

@media (min-width: 450.1px) and (max-width: 767.98px) {
    .ic-menu {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .ic-menu {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .ic-menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    .ic-menu {
        display: none;
    }
}